<h1>All Warehouses</h1>
<%= link_to 'Add new warehouse', new_warehouse_path %>
<ul>
  <% @warehouses.each do |warehouse| %>
    <li>
      <%= link_to warehouse.name, warehouse_path(warehouse) %> -
      <%= link_to 'Edit', edit_warehouse_path(warehouse) %> -
      <%= link_to 'Delete', warehouse_path(warehouse), data: {
                    turbo_method: :delete,
                    turbo_confirm:  "Are you sure?"
                  } %>
    </li>
  <% end %>
</ul>
<%= link_to 'Back to home', root_path %>
