<h1><%= @warehouse.name %></h1>
<h3>Located in: <%= @warehouse.location %></h3>
<h3>Item(s) in this warehouse:</h3>
<ul>
  <% @warehouse_items.each do |warehouse_item| %>
    <li>
      <%= link_to warehouse_item.item.name, item_path(warehouse_item.item) %> -
      quantity: <%= warehouse_item.quantity %> -
      <%= link_to 'Edit', edit_warehouse_warehouse_item_path(@warehouse, warehouse_item) %> -
      <%= link_to 'Delete', warehouse_warehouse_item_path(@warehouse, warehouse_item), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Remove #{warehouse_item.item.name} from #{@warehouse.name}?"
                  } %>
    </li>
  <% end %>
</ul>

<h3>Add an Item to this warehouse:</h3>
<%= simple_form_for [@warehouse, @warehouse_item] do |f| %>
  <%= f.input :item,  as: :select, collection: @items, prompt: 'Select Item', required: true %>
  <%= f.input :quantity, placeholder: 'Item quantity', required: true %>
  <%= f.hidden_field :warehouse, value: @warehouse.id %>
  <%= f.submit %>
<% end %>
<br>
<%= link_to 'Back', warehouses_path %>
